<ul class="sidebar-menu cmd-menu">
    <li class="header">환자</li>
    <!-- Optionally, you can add icons to the links -->
    <li ui-sref-active="active"><a ui-sref="master1.patient.create" md-button><i class="fa fa-link"></i> <span>환자신규등록</span></a></li>
    <li ui-sref-active="active"><a ui-sref="master1.patient.receipt" md-button><i class="fa fa-link"></i> <span>환자접수</span></a></li>
    <li ui-sref-active="active"><a ui-sref="master2.gnDemoLogin" md-button><i class="fa fa-link"></i> <span>Demo3 건나 로그인</span></a></li>
    <li ui-sref-active="active"><a ui-sref="master1.gnDemoPatientSelect" md-button><i class="fa fa-link"></i> <span>Demo4 환자선택</span></a></li>
    <li class="treeview">
        <a href="#" md-button><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="#" md-button>Link in level 2</a></li>
            <li><a href="#" md-button>Link in level 2</a></li>
        </ul>
    </li>
</ul>